body {
    margin: 0px;
    font-family: 'Open Sans';
    font-size: 1rem;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h3 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

span {
    font-size: smaller;
    font-weight: bold;
    padding-top: 10px;
}

.main {
    margin-left: 0px;
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Open Sans';


}

#profilename {
    text-align: center;
    margin: 0;
}

#profession {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#responsivetext {
    font-size: x-small;
    padding-left: 20%;
    color: lightblack;
}



#sidebar {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.leftpara {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.minilefticons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pastedimg {
    padding-left: 15px;
}

#sidebarhome {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.sidebar1 {
    list-style-type: none;
    padding-left: 10px;
    font-size: 14px;


}


#icons {
    font-size: 18px;
    color: gray;
}

.open1 {
    background-color: white;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 20%;
    transition: 0.2s;
    
}

#right {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    background-color: #f8f9fb;

}

.header {
    background-color: #042fa6;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;



}

.headerleft {
    padding-left: 20px;
    color: white;
    gap: 20px;
    display: flex;
    align-items: center;
}


#headerbutton {
    color: white;
    background-color: #042fa6;
    border: none;
    font-size: medium;
    display: none;
}

#h6 {

    padding-left: 15px;
}

#h3 {

    padding-left: 10px;
}

.right0 {
    margin: 25px;
    background-color: #f8f9fb;
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: space-between;

}

.right0child1 {
    display: flex;
    align-items: center;
}

.rightmain {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.right1 {
    display: flex;
    background-color: white;
    border: 5px;
    margin: 10px;
    flex: 2;
    border: solid 1px lightgray;
    padding: 15px;
    border-radius: 4px;

}

.right1rightchild {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right2 {
    flex: 2;
    background-color: white;
    margin: 15px;
    display: flex;
    border: solid 1px lightgray;
    padding: 20px;
    border-radius: 4px;
}

.number121 {
    display: flex;
}

.timeline {
    flex: 2;
    margin: 20px;
    display: flex;
    font-size: 12px;
    gap: 20px;
    justify-content: space-between;
    
}

.timeline-hr
{
    border: solid 5px #00d284;
    width: 50%;
}
.timeline-details1
{
 display: flex;
 justify-content: space-between;
}


.timelinechild1
{
    flex: 1;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
   
}
.timeline-details {
  
    display: flex;
    gap: 10px;


}


.timingdetails {
  
    font-size: 16px;

}

.timingdetails1 {
    padding-left: 20px;
    font-size: 14px;

}

.timingdetails2 {
 
    font-size: 12px;
    color: rgb(147, 142, 142);

}

.days {

    font-size: 14px;
    color: rgb(147, 142, 142);

}

.list {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.bore li:hover {
    color: whitesmoke;

}

.button {
    background-color: rgb(255, 0, 0);
    height: 10%;
    width: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: large;
    float: right;
    position: relative;
    z-index: 1;
    border: none;
    color: white;

}

#focus {

    background-color: white;
    border: 1px solid lightgrey;
    color: rgb(11, 11, 194);
    margin-top: 25px;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;


}

#system {
    color: #aab2bd;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.hover:hover {

    background-color: rgb(12, 12, 244);
    color: white;
}

.close1 {
    display: none;
    transition: 0.2s;

}

.right2childs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    
    h4 
    {
        padding-left: 15px;
    }

    .right0child1
    {
        flex-direction: column;
        align-items: normal;
    }
    #h3,#h6 {
        padding: 0;
    }

    .open1 {
        display: none;
    }



    #headerbutton {
        display: block;
    }



    .button {
        display: none;
    }

    #right {
        width: 100%;
    }

    #imgresponse {
        display: block;
    }

    #headerhome {
        display: none;
    }

    .timelinechilds1 {
        gap: 15px;
    }


}
@media screen and (max-width: 320px){
.rightmain
{
    padding: 0;
}

}

@media screen and (max-width: 500px) {

    .right1 {
        flex-direction: column;
        height: fit-content;

        .group {
            border: none;
        }


    }



    #right {
        width: calc(100%-70px);
    }


    .right0 {
        flex-direction: column;

    }


    .rightmain {
        height: fit-content;
        overflow-y: auto;
    }

    .timeline {
        flex-direction: column;
        height: fit-content;
        gap: 10px;

    }

    .timelinechild0 {
        gap: 10px;
    }

    .timelinechilds1 {
        gap: 15px;
    }

    .timelinechild2 {
        padding-top: 25px;
    }

    .today {
        padding-top: 20px;
    }

    .right2 {
        flex-direction: column;
        height: fit-content;

    }

    .header {
        .headerrightchild {
            display: none;
        }
    }


    .button {
        display: none;
    }

    .date {
        padding-top: 10px;
        padding-right: 30px;
    }


}

.timelinechilds {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 1px;
    justify-content: space-between;
    align-items: center;
    border: 10px;
    border-color: beige;
}

.timelinechilds1 {
    flex: 1;
    height: 100%;
    /* display: flex;
    justify-content: space-between; */


}

.line {
    height: 50%;
    border: 1px solid lightgray;
    margin-top: 3%;
}

.group {
    height: 100px;

    border-right: 1px solid lightgray;
}

.Profileimage {
    height: 90px;
    padding-left: 40px;
    padding-top: 20px;
}

.profilediv {
    display: flex;
    align-items: center;
    justify-content: center;
}


.plusadmin {
    margin: 0;
    margin-top: 7px;
    height: 30px;
}

.timelinechild0 {
    flex: 1;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 20px;
    display: flex;
   flex-direction: column;
    gap: 10px;
    
}

.timedate {
    color: #6c7293;
    font-weight: 200;
    font-size: medium;
}

.date {
    font-weight: bold;

}


.headerright {
    display: flex;
    padding-right: 20px;
    gap: 10px;
    color: white;
}

.headerrightchild {
    display: flex;
    padding-right: 20px;
    gap: 10px;
    color: white;
}

#headerhome {
    font-size: 18px;
    color: aliceblue;
}

.selectheader {
    padding-left: 5px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    display: block;

    font-size: 14px;
}

.timelinechilds2 {
    flex: 1;
    display: flex;
    
    justify-content: space-between;
}


.hiring {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.humanresource {
    font-size: 14px;
    color: #6c7293;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.recruiters {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 16px;
}

.right1right {

    display: flex;
    gap: 10px;
}

#searchbox {
    border: 0px;
    background-color: rgba(211, 211, 211, 0.299);
    border-radius: 20px;
    height: 30px;
    padding-left:30px;
    width: 75%;
    display: flex;
    align-items: center;

}

#minileft {
    width: 70px;
    font-size: 40px;
    border-right: 1px solid lightgray;
    display: none;
}

#minileftbutton {
    right: 0;
    top: 0;
}

#imgresponse {
    display: none;
}

.timeline-heading
{
 display: flex;
 justify-content: space-between;
}