body {
    margin: 0px;
    font-family: 'Open Sans';
    font-size: 1rem;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h3{
    font-weight: 600;
}
h2{
    font-weight: 600;
}

span{
    font-size: smaller;
    font-weight: bold;
    padding-top: 10px;
}

.main {
    margin-left: 0px;
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Open Sans';
    

}
#profilename
{
    text-align: center;
    margin: 0;
}
#profession
{
    text-align: center; 
    margin-top: 5px;
     margin-bottom: 5px;
}
#responsivetext
{
    font-size: x-small; 
    padding-left: 20%; 
    color:lightblack;
}



#sidebar {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  
}

.leftpara
{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#sidebarhome {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.sidebar1 {
    list-style-type: none;
    padding-left: 10px;
    font-size: 14px;

  
}


#icons {
    font-size: 18px;
    color: gray;
}

.open1 {
    background-color: white;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 20%;
    transition: 0.2s;
    padding-left: 20px;
}

#right {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    background-color: #f8f9fb;

}

.header {
    background-color: #042fa6;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
  

}
.headerleft
{
    padding-left: 20px;
    color: white;
   gap: 20px;
     display: flex;
      align-items: center;
}

#envelope {
    padding-top: 15px;
    padding-left: 20px;
}

#bell {
    padding-left: 30px;
    padding-top: 15px;


}

#h6 {

    padding-left: 15px;
}

#h3 {

    padding-left: 10px;
}

.right0 {
    height: 70px;
    background-color: #f8f9fb;
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: space-between;

}

.right0child1 {
    display: flex;
    align-items: center;
}

.rightmain {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.right1 {
    display: flex;
    background-color: white;
    border: 5px;
    margin: 10px;
    overflow: hidden;
    flex: 2;
    border: solid 1px lightgray;
    padding: 15px;

}

.right1rightchild
{
  padding-left: 15px;
}
.right2 {
    flex: 2;
    background-color: white;
    margin: 15px;
    display: flex;
    border: solid 1px lightgray;
    padding: 20px;
}
.number121
{
  display: flex;
}

.right3 {
    flex: 2;
    background-color: white;
    margin: 20px;
    display: flex;
    border: solid 1px lightgray;
      font-size: 12px;
      padding: 20px;
}

.right4 {
    flex: 1;
    border: solid 1px white;

}

.right3child1 {
    flex: 1;
    border: 10px;
    border-color: #f8f9fb;

    display: flex;


}

.right3child2 {
    flex: 1;
    display: flex;


}

.timingdetails {
    padding-left: 20px;
    font-size: 16px;

}
.timingdetails1 {
    padding-left: 20px;
    font-size: 14px;

}
.timingdetails2 {
    padding-left: 20px;
    font-size: 12px;
    color: rgb(147, 142, 142);

}

.days {
    padding-right: 20px;
  font-size: 14px;
  color:rgb(147, 142, 142);

}

.list {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.bore li:hover {
    color: whitesmoke;

}

.button {
    background-color: rgb(255, 0, 0);
    /* position: absolute; */
    height: 10%;
    width: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: large;
    border-color: white;
    float: right;

}

#focus {

    background-color: white;
    border: 1px solid lightgrey;
    color: rgb(11, 11, 194);
    margin-top: 25px;
    font-size: 12px;
    margin-left:10px ;
    font-weight: bold;
    padding: 5px;


}

#system {
    color: #aab2bd;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.buttonheader {
    display: none;
}

.hover:hover {

    background-color: rgb(12, 12, 244);
}

.close1 {
    display: none;
    transition: 0.2s;

}

.right2childs {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;
    border: 1px solid  #f8f9fb;
}

@media screen and (max-width: 960px) {
    .open1 {
        width: 0;
    }

    .right1 {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        
    }
    .plusadmin
    {
        height: 15px;
    }

}

@media screen and (max-width: 500px) {

    .right0 {
        flex-direction: column;
        overflow-y: auto;
    }

    .right3 {
        height: fit-content;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;

    }

    .right2 {
        height: fit-content;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
    }

    .list {
        display: none;
    }

    .button {
        display: none;
    }


}

.right3childs {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 1px;
    justify-content: space-between;
    align-items: center;
    border: 10px;
    border-color: beige;
}

.right3childs1 {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 1px;
    justify-content: space-between;


}

.line {
    height: 50%;
    border: 1px solid lightgray;
    margin-top: 3%;
}

.group {
    height: 100px;
    
    border-right: 1px solid lightgray;
}

.Profileimage {
    height: 90px;
    padding-left: 40px;
    padding-top: 20px;
}

.profilediv
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.plusadmin {
    margin: 0;
    margin-top: 7px;
    height: 30px;
}

.right3child0 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
.timedate
{
    color: #6c7293;
    font-weight: 200;
    font-size: medium;
}
.date{
    font-weight: bold;
    /* gap: 15px; */

}

.right3child1 {
    display: flex;
    gap: 10px;
}

.headerright {
    display: flex;
    padding-right: 20px;
    gap: 10px;
    color: white;
}
#headerhome
{
     font-size: 18px;
    color: aliceblue;
}

.selectheader {
    padding-left: 5px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    display: block;
    
    font-size: 14px;
}

.right3childs2 {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 1px;
    justify-content: space-between;
    align-items: center;
    border: 10px;
    border-color: beige;
}

.right3child22 {
    padding-bottom: 10px;
}

.hiring {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.humanresource {
    font-size: 14px;
    color: #6c7293;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.recruiters {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 16px;
}

.right1right {
     
     display: flex;
}

#searchbox {
    margin-left: 7%;
    border: 0px;
    background-color: rgba(211, 211, 211, 0.299);
    border-radius: 20px;
    height: 30px;
    padding-left: 30px;
    width: 200px;
}

#minileft {
    width: 70px;
    font-size: 40px;
    border: solid 1px black;
    align-items: center;
     display: none; 
}
#minileftbutton
{
    right: 0;
    top: 0;
}
